<div *ngFor="let group of customScopeGroupPreferences; let i = index; trackBy: trackByFn">
  <accordion style="width: 100%;" [isAnimated]="true">
    <div style="display: flex;" 
    class="d-flex" 
    appGroup>
      <accordion-group heading="{{ group.name }}" style="width: 100%;">
        <ng-container *ngIf="group.children">
          <app-user-scope-child
          [scopeChild]="group.customScopePreference"
          (selectChildCheckboxValue)="onSelectChildCheckboxChange($event, group)"
        ></app-user-scope-child>
        </ng-container>
        <ng-container *ngIf="group.children">
          <app-user-scope-tree
          [customScopeGroupPreferences]="group.children"
        ></app-user-scope-tree>
        </ng-container>
        
      </accordion-group>
      <app-checkbox 
        appCheckbox
        id="{{ checkboxIds[i] }}" 
        [checked]="group.selected" 
        
        (checkedChange)="onCheckboxChange($event, checkboxIds[i], group)">
      </app-checkbox>
      
    </div>
  </accordion>
</div>
